@charset "utf-8";

@import "option";

.basic-post-list {
	.post-list {
		list-style: none;
		padding: 0px;
		margin: -2px 0px;
		line-height: 22px;
	}
		
	.post-list li {
		padding: 0px;
		margin: 0px;
	}
		
	.post-list li b {
		letter-spacing: -1px;
		padding-right: 1px;
	}
		
	.post-list li .name {
		letter-spacing: -1px;
		color: #888;
		padding-left: 4px;
		padding-right: 1px;
	}
	.post-list .txt-normal {
		letter-spacing: 0;
	}
		
	.post-none {
		padding: 50px 10px;
		text-align: center;
		color: #888;
	}
		
	.wr-text {
		font-family: dotum;
		font-size: 11px;
		letter-spacing: -1px;
		line-height: 11px;
		font-weight: normal;
	}
		
	.wr-icon {
		display: inline-block;
		padding: 0px;
		margin: 0px;
		line-height: 12px;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
		
	.wr-new {
		width: 12px;
		height: 12px;
		background-image: url('./img/icon_new.gif');
	}
		
	.wr-secret {
		width: 12px;
		height: 12px;
		background-image: url('./img/icon_secret.gif');
	}
		
	.wr-video {
		width: 12px;
		height: 12px;
		background-image: url('./img/icon_video.gif');
	}
		
	.wr-image {
		width: 12px;
		height: 12px;
		background-image: url('./img/icon_image.gif');
	}
		
	.wr-file {
		width: 12px;
		height: 12px;
		background-image: url('./img/icon_file.gif');
	}

	.nx-title {
		font-size: $title_size;
		color: $title_color;
	}
}
