@charset "utf-8";

@import "../scss/config";

.nx-themore-list .nx_post_ct { margin: 5px 0 0; color: #666; font-size: 14px; }

.nx-themore-list .nx_post_date { margin: 5px 0 0; text-align: right; font-size: 12px; color: #666; }

.nx-themore-list .post-list { list-style: none; padding: 0px; margin: -2px 0px; line-height: 22px; }
.nx-themore-list .post-list li { padding: 15px 0; margin: 0px; border-top: 1px solid #e5e5e5; }
.nx-themore-list .post-list li:first-child { padding-top: 0; border-top: none; }
.nx-themore-list .post-list li:last-child { padding-bottom: 0; }
.nx-themore-list .post-list li b { letter-spacing: -1px; padding-right: 1px; }
.nx-themore-list .post-list li .name { letter-spacing: -1px; color: #888; padding-left: 4px; padding-right: 1px; }
.nx-themore-list .post-list .txt-normal { letter-spacing: 0; }
.nx-themore-list .post-none { padding: 50px 10px; text-align: center; color: #888; }
.nx-themore-list .wr-text { font-family: dotum; font-size: 11px; letter-spacing: -1px; line-height: 11px; font-weight: normal; }
.nx-themore-list .wr-icon { display: inline-block; padding: 0px; margin: 0px; line-height: 12px; vertical-align: middle; background-repeat: no-repeat; background-position: 0px 0px; }
.nx-themore-list .wr-new { width: 12px; height: 12px; background-image: url("./img/icon_new.gif"); }
.nx-themore-list .wr-secret { width: 12px; height: 12px; background-image: url("./img/icon_secret.gif"); }
.nx-themore-list .wr-video { width: 12px; height: 12px; background-image: url("./img/icon_video.gif"); }
.nx-themore-list .wr-image { width: 12px; height: 12px; background-image: url("./img/icon_image.gif"); }
.nx-themore-list .wr-file { width: 12px; height: 12px; background-image: url("./img/icon_file.gif"); }
.nx-themore-list .nx_post_title { margin: 5px 0 0; font-size: 16px; color: #222; }
