body {
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
	font-size:14px; 
	color:#fff; 
	margin:0; 
	padding:0;
	background: url(../img/logo.png) center center no-repeat, url(../img/bg_pattern.jpg) center center repeat;
    background-size: 60% auto, auto;
	/*background-color:#222; */
	/*background-image:url('../img/bg.jpg');*/
	/*background-position: center center; */
	/*background-attachment:fixed; */
	/*background-size:cover;*/
}
.logo {
	width:280px;
}
.box-enter {
	position:absolute; 
	left:0px; 
	bottom:60px;
	z-index:1000;
	width:100%;
	text-align:center;
}
.btn-enter {
	display: inline-block;
	padding: 8px 30px;
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background: none;
	border:0px;
	border-top: 3px solid rgb(255, 255, 255); 
	color: rgb(255, 255, 255);
	text-decoration:none;
}
.btn-enter:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-enter:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-enter:hover, .btn-enter:focus, .btn-enter:active { 
	border-color: rgb(213, 7, 15); 
	color: rgb(213, 7, 15); 
}

@media only screen and (max-width: 759px) {
	body {
		background-position: center 35%, center center;
	}
}