@charset "UTF-8";

.a {
	color: red;
}

/* ----- 문해교육 테마 ----- */

$color1: #666; // 주 포인트 컬러
$color2: #666; // 보조 포인트 컬러
$scolor1: #666; // 연한 주 포인트 컬러
$scolor2: #666; // 연한 보조 포인트 컬러
$color_cancel: #666; // 목록, 취소
$color_del: #666; // 삭제, 닫기

$view_tit_fs: 18px;
$view_tit_color: #666;
$view_tit_lh: 50px;

/* ----- 문해교육 테마 end ----- */