@charset "utf-8";

/*-------------------------------------------------------*/
/* 공통
/*-------------------------------------------------------*/
.is-pc .ko .miso-post-bxslider .font-13 { 
	font-size:12px;
}
.miso-post-bxslider { 
	position:relative; 	padding:0; margin:0; line-height:22px;
}
.miso-post-bxslider .post { 
	padding:0; margin:0;
}
.miso-post-bxslider .bxslider { 
	padding:0; margin:0;
}
.miso-post-bxslider .item { 
	padding:0; margin:0; list-style:none;
}
.miso-post-bxslider .count { 
	color:orangered;
}
.miso-post-bxslider .ellipsis-line {
	width:100%;	overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; word-wrap:break-word; 
} 
.miso-post-bxslider.is-circle .img-box,
.miso-post-bxslider.is-circle .img-item {
	border-radius:50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}
.miso-post-bxslider.is-circle .label-cap {
	display:none;
}
.miso-post-bxslider .post-hover .img-content { 
	padding:10px; position: absolute; left: 0; bottom:0; width: 100%; height:100%; color:#fff;
	transition:transform 0.4s, opacity 0.1s 0.3s; 
	opacity: 0; 
	transform: translateY(100%); 
	-o-transition: -o-transform .4s, opacity .1s .3s; 
	-moz-transition: -moz-transform .4s, opacity .1s .3s; 
	-webkit-transition: -webkit-transform .4s, opacity .1s .3s; 
	-webkit-transform: translateY(100%); 
	-moz-transform: translateY(100%); 
	-o-transform: translateY(100%); 
}
.miso-post-bxslider .post-hover .item-box:hover .img-content {
	transition:transform 0.4s, opacity 0.1s; 
	opacity: 1; 
	transform: translateY(0px); 
	-o-transition: -o-transform .4s, opacity .1s;
	-moz-transition: -moz-transform .4s, opacity .1s;
	-webkit-transition: -webkit-transform .4s, opacity .1s;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
}
.miso-post-bxslider .img-photo i,
.miso-post-bxslider .img-photo img {
    width: 44px; height: 44px; vertical-align:middle; line-height: 44px; font-size: 24px; text-align: center; background-color: #ddd; color: #fff;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
}
.miso-post-bxslider .img-bg {
	background-size: cover !important; background-position: center center !important; 
}
.miso-post-bxslider .img-box {
	position:relative; padding:0; height:0; overflow:hidden; width:100%;
}
.miso-post-bxslider .img-item,
.miso-post-bxslider .img-layer {
	position: absolute; width: 100%; height: 100%; left: 0; top: 0; overflow:hidden;
}
.miso-post-bxslider .img-trans { 
	opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; -khtml-opacity:0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); 
}
.miso-post-bxslider .img-tbl { 
	position:relative; z-index:1; display:table; width:100%; height:100%; table-layout:fixed; margin:0; border-collapse: collapse;
}
.miso-post-bxslider .img-cell { 
	display:table-cell; vertical-align:middle;
}
.miso-post-bxslider .img-content {
	position:relative; z-index:1;
}
.miso-post-bxslider .img-lock { 
	display:inline-block; width:12px; height:12px; background: url('./img/lock.gif') no-repeat; vertical-align:middle; text-indent: -9999px; overflow:hidden;
}
.miso-post-bxslider .in-right.rank-icon { 
	margin-right:0; font-family:arial; letter-spacing:0; z-index:3;
}

/*-------------------------------------------------------*/
/* bxslider
/*-------------------------------------------------------*/
.miso-post-bxslider .bx-wrapper { 
	margin-bottom:0; 
}
.miso-post-bxslider .bx-wrapper .bx-viewport {
	border: 0; left: 0;	background: none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.miso-post-bxslider .bx-wrapper .bx-pager {
	position:relative; bottom:0;
}
.miso-post-bxslider .bx-wrapper .bx-pager.bx-default-pager {
	padding:10px 0 0;
}
.miso-post-bxslider.in-dots .bx-wrapper .bx-pager {
	position:absolute; bottom: 5px;
}
.miso-post-bxslider .bx-wrapper .bx-pager.bx-default-pager a {
	background: rgba(238,238,238,0.75);	transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;
}
.miso-post-bxslider .bx-wrapper .bx-controls-direction a {
    text-indent:0 !important; text-align:center;
}
.miso-post-bxslider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: rgb(233, 27, 35); width:30px;
}
.miso-post-bxslider.nav-middle .bx-wrapper .bx-controls-direction a {
    color:#fff; font-size:50px; line-height:50px; margin-top:-25px; height:50px; width:30px; opacity:0.5;
}
.miso-post-bxslider.nav-middle .bx-wrapper .bx-controls-direction a:hover {
    opacity:1;
}
.miso-post-bxslider .bx-wrapper .bx-prev {
    background: none; z-index:3;
}
.miso-post-bxslider .bx-wrapper .bx-next {
    background: none; z-index:3;
}
.miso-post-bxslider.nav-top .bx-wrapper .bx-controls-direction a {
    background: #fff; color:#999; width: 25px; height: 18px; top: -33px; margin-top: 0px; line-height: 18px; font-size: 12px; border:1px solid #ddd; opacity:1;	
}
.miso-post-bxslider.nav-top .bx-wrapper .bx-prev { 
	left:auto; right:24px; 
}
.miso-post-bxslider.nav-top .bx-wrapper .bx-next { 
	left:auto; right:0; 
}
.miso-post-bxslider.nav-bottom .bx-wrapper .bx-controls-direction {
	display:block; width:50px; margin:15px auto; position:relative;
}
.miso-post-bxslider.nav-bottom .bx-wrapper .bx-controls-direction a {
    background: #fff; color:#999; width: 25px; height: 18px; margin-top:0; position:relative; line-height: 18px; font-size: 12px; border:1px solid #ddd; opacity:1;	
}
.miso-post-bxslider.nav-bottom .bx-wrapper .bx-prev { 
	float:left; position:relative; left:auto; right:auto; 
}
.miso-post-bxslider.nav-bottom .bx-wrapper .bx-next { 
	float:left; position:relative; left:auto; right:auto; margin-left:-1px;
}
.miso-post-bxslider.nav-middle .small-nav .bx-wrapper .bx-controls-direction a {
	top:auto; bottom: 15px; background: rgba(0,0,0,0.7); color:#fff; width: 35px; height: 25px; margin-top: 0px; line-height: 25px; font-size: 18px; border:1px solid #000; opacity:0.7;
}
.miso-post-bxslider.nav-middle .top-nav .bx-wrapper .bx-controls-direction a {
	top:15px; bottom: auto;
}
.miso-post-bxslider.nav-middle .right-nav .bx-wrapper .bx-prev {  
	left:auto; right:50px; border-right:0 !important;
}
.miso-post-bxslider.nav-middle .right-nav .bx-wrapper .bx-next { 
	left:auto; right:15px; 
}
.miso-post-bxslider.nav-middle .left-nav .bx-wrapper .bx-prev {
	left:15px; right:auto;
}
.miso-post-bxslider.nav-middle .left-nav .bx-wrapper .bx-next { 
	left:50px; right:auto; border-left:0 !important;
}

/* opacity */
.miso-post-bxslider .img-opa-bg { 
	background-color:#000;
}
/* 개별사용시 주석 풀어 주세요.
.miso-post-bxslider .img-opa10 { 
	opacity:0.1; -webkit-opacity:0.1; -moz-opacity:0.1; -khtml-opacity:0.1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); 
}
.miso-post-bxslider .img-opa20 { 
	opacity:0.2; -webkit-opacity:0.2; -moz-opacity:0.2; -khtml-opacity:0.2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: alpha(opacity=20); 
}
.miso-post-bxslider .img-opa30 { 
	opacity:0.3; -webkit-opacity:0.3; -moz-opacity:0.3; -khtml-opacity:0.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); 
}
.miso-post-bxslider .img-opa40 { 
	opacity:0.4; -webkit-opacity:0.4; -moz-opacity:0.4; -khtml-opacity:0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); 
}
.miso-post-bxslider .img-opa50 { 
	opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); 
}
.miso-post-bxslider .img-opa60 { 
	opacity:0.6; -webkit-opacity:0.6; -moz-opacity:0.6; -khtml-opacity:0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); 
}
.miso-post-bxslider .img-opa70 { 
	opacity:0.7; -webkit-opacity:0.7; -moz-opacity:0.7; -khtml-opacity:0.7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); 
}
.miso-post-bxslider .img-opa80 { 
	opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; -khtml-opacity:0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); 
}
*/

/* raster */
/* 개별사용시 주석 풀어 주세요.
.miso-post-bxslider .img-raster1 {
	background-image: url('./img/raster-1.png');
}
.miso-post-bxslider .img-raster2 {
	background-image: url('./img/raster-2.png');
}
.miso-post-bxslider .img-raster3 {
	background-image: url('./img/raster-3.png');
}
.miso-post-bxslider .img-raster4 {
	background-image: url('./img/raster-4.png');
}
.miso-post-bxslider .img-raster5 {
	background-image: url('./img/raster-5.png');
}
*/

/* color */
.miso-post-bxslider .bg-1,
.miso-post-bxslider .bg-h1:hover { 
	background-color:#eb5451; border-color:#eb5451; color:#fff; /* red */
}
.miso-post-bxslider .bg-2,
.miso-post-bxslider .bg-h2:hover { 
	background-color:#756fad; border-color:#756fad; color:#fff; /* purple */
}
.miso-post-bxslider .bg-3,
.miso-post-bxslider .bg-h3:hover {
	background-color:#0092e0; border-color:#0092e0; color:#fff; /* blue */
}
.miso-post-bxslider .bg-4,
.miso-post-bxslider .bg-h4:hover {
	background-color:#4c6187; border-color:#4c6187; color:#fff; /* navy */
}
.miso-post-bxslider .bg-5,
.miso-post-bxslider .bg-h5:hover {
	background-color:#8cc346; border-color:#8cc346; color:#fff; /* green */
}
.miso-post-bxslider .bg-6,
.miso-post-bxslider .bg-h6:hover {
	background-color:#5d588f; border-color:#5d588f; color:#fff; /* deeppurple */
}
.miso-post-bxslider .bg-7,
.miso-post-bxslider .bg-h7:hover {
	background-color:#71757e; border-color:#71757e; color:#fff; /* gray */
}
.miso-post-bxslider .bg-8,
.miso-post-bxslider .bg-h8:hover {
	background-color:#d82c29; border-color:#d82c29; color:#fff; /* deepred */
}
.miso-post-bxslider .bg-9,
.miso-post-bxslider .bg-h9:hover {
	background-color:#12cebd; border-color:#12cebd; color:#fff; /* mint */
}
.miso-post-bxslider .bg-0,
.miso-post-bxslider .bg-h0:hover {
	background-color:#21a6ed; border-color:#21a6ed; color:#fff; /* lightblue */
}

/*-------------------------------------------------------*/
/* .post-img
/*-------------------------------------------------------*/
.miso-post-bxslider .post-img .img-cell { 
	text-align:center; padding:10px 15px;
}
.miso-post-bxslider .post-img .img-photo { 
	display:inline-block; margin:0 auto;
}
.miso-post-bxslider .post-img .img-photo i,
.miso-post-bxslider .post-img .img-photo img {
	border:2px solid #fff; width:50px; height:50px; line-height:50px; font-size:28px;
}
.miso-post-bxslider  .post-img .img-photo i {
	margin-bottom:6px;
}
.miso-post-bxslider .post-img .img-cell p {
	padding:0; margin:2px 0;
}
.miso-post-bxslider .post-img .img-content p { 
	padding:0; margin:0;
}

/*-------------------------------------------------------*/
/* .post-caption
/*-------------------------------------------------------*/
.miso-post-bxslider .post-caption .img-cell { 
	vertical-align:bottom; text-align:center;
}
.miso-post-bxslider.is-circle .post-caption .img-cell { 
	vertical-align:middle;
}
.miso-post-bxslider .post-caption .img-content { 
	padding:8px 10px; color:#fff; background-color:rgba(0,0,0,0.6);
}
.miso-post-bxslider .post-caption .img-content p { 
	padding:0; margin:0;
}

/*-------------------------------------------------------*/
/* .post-gallery
/*-------------------------------------------------------*/
.miso-post-bxslider.is-box .post-gallery .item-box { 
	background-color:#fff;
}
.miso-post-bxslider .post-gallery .img-content { 
	padding:10px; text-align:center;
}
.miso-post-bxslider .post-gallery .img-content p { 
	color:#888; padding:0; margin:0; line-height:20px;
}

/*-------------------------------------------------------*/
/* .post-blog
/*-------------------------------------------------------*/
.miso-post-bxslider.is-box .post-blog .item-box { 
	background-color:#fff;
}
.miso-post-bxslider .post-blog .img-content { 
	padding:10px;
}
.miso-post-bxslider .post-blog .img-content p { 
	padding:0; margin:0; color:#888;
}
.miso-post-bxslider .post-blog .img-photo {
	width:54px; vertical-align:top;
}
.miso-post-bxslider .post-blog .img-desc {
	margin:8px 0 0; color:#888;
}

/*-------------------------------------------------------*/
/* .post-title
/*-------------------------------------------------------*/
.miso-post-bxslider .post-title .img-cell { 
	vertical-align:middle; text-align:center; padding:50px;
}
.miso-post-bxslider .post-title .img-content { 
	margin:0 auto; padding:20px; max-width:500px;
}
.miso-post-bxslider .post-title .img-desc,
.miso-post-bxslider .post-title .img-bar {
	position:relative; z-index:1; color:#fff;
}
.miso-post-bxslider .post-title .img-desc h3.img-title { 
	font-size:20px; padding:0; margin:0; line-height:1.4;
}
.miso-post-bxslider .post-title .img-desc p.img-text {
	font-size:15px; padding:0; margin:12px 0 0; line-height:1.6;
}
.miso-post-bxslider .post-title .img-bar h3.img-title { 
	font-size:26px; padding:0; margin:0; margin-bottom:15px; line-height:1.2;
}
.miso-post-bxslider .post-title .img-bar p.img-text { 
	font-size:15px; padding:0; margin:0; line-height:1.6;
}
.miso-post-bxslider .post-title .img-bar hr.img-hr { 
	display:inline-block; width: 80px; height: 3px; padding:0; margin:0 0 10px; border: none; line-height:1px;
}

/*-------------------------------------------------------*/
/* .post-topic
/*-------------------------------------------------------*/
.miso-post-bxslider .post-topic .img-opa {
	opacity:0.4; -webkit-opacity:0.4; -moz-opacity:0.4; -khtml-opacity:0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); 
}
.miso-post-bxslider .post-topic .img-cell { 
	vertical-align:bottom; padding:15px;
}
.miso-post-bxslider .post-topic.topic-top .img-cell { 
	vertical-align:top;
}
.miso-post-bxslider .post-topic .img-content { 
	display:inline-block; padding:10px 15px;
}
.miso-post-bxslider .post-topic .img-desc { 
	position:relative; z-index:1; color:#fff;
}
.miso-post-bxslider .post-topic .img-desc h3 { 
	font-size:17px; padding:0; margin:0; line-height:1.4;
}
.miso-post-bxslider .post-topic .img-desc p { 
	font-size:13px; padding:0; margin:0 0 6px; line-height:1.2;
}

/*-------------------------------------------------------*/
/* .post-headline
/*-------------------------------------------------------*/
.miso-post-bxslider .post-headline .img-content { 
	padding:15px; position: absolute; left:0; bottom:0; width:100%;	color:#fff;	background-color:rgba(0,0,0,0.6);
}
.miso-post-bxslider .post-headline.post-left .img-content { 
	width:180px; height:100%;
}
.miso-post-bxslider .post-headline.post-right .img-content { 
	left:auto; right:0; width:180px; height:100%;
}
.miso-post-bxslider .post-headline .img-cate { 
	padding:4px 8px; position: absolute; left:15px; top:15px; color:#fff; line-height:1.2;
}
.miso-post-bxslider .post-headline .img-date { 
	position:relative; z-index:1; font-size:13px;
}
.miso-post-bxslider .post-headline .img-info { 
	color:#fff; font-size:13px; margin:0 0 8px; line-height:20px; 
}
.miso-post-bxslider .post-headline .img-content h3 { 
	color:#fff; font-size:18px; padding:0; margin:0; line-height:1.6;
}
.miso-post-bxslider .post-headline .img-content p { 
	color:#fff; padding:0; margin:8px 0 0;
}

/*-------------------------------------------------------*/

.miso-post-bxslider .headline-thumb-pager { 
	display:table; width:100%; table-layout:fixed; background:#fafafa; border-collapse: collapse;
}
.miso-post-bxslider .headline-thumb-pager a { 
	display:table-cell; vertical-align:middle; padding:10px; border:1px solid #ddd; border-top:0;
}
.miso-post-bxslider .headline-thumb-pager a.active { 
	background:#eee;
}

/*-------------------------------------------------------*/

.miso-post-bxslider .post-headline .pager-rows,
.miso-post-bxslider .post-headline .pager-cols {
	margin:0px !important; padding:0px !important; background:#fafafa;
}
.miso-post-bxslider .headline-thumb-right-pager { 
	border-top:1px solid #ddd;
}
.miso-post-bxslider .headline-thumb-right-pager a { 
	display:block; vertical-align:middle; padding:10px; border:1px solid #ddd; border-top:0; border-left:0;
}
.miso-post-bxslider .headline-thumb-right-pager a.active { 
	background:#eee;
}

/*-------------------------------------------------------*/

.miso-post-bxslider .bx-custom-pager strong { 
	display:table; width:100%; table-layout:fixed; font-weight:normal; 
}
.miso-post-bxslider .bx-custom-pager span { 
	display:table-cell; vertical-align:middle; line-height:20px;
}
.miso-post-bxslider .bx-custom-pager .pager-text { 
	padding-left:10px;
}
@media all and (max-width:767px) {
	.responsive .miso-post-bxslider .bx-custom-pager { 
		text-align:center; padding:5px; border:0;
	}
	.responsive .miso-post-bxslider .bx-custom-pager a { 
		display:inline-block; width:auto; padding:5px; border:0;
	}
	.responsive .miso-post-bxslider .bx-custom-pager strong { 
		display:inline;
	}
	.responsive .miso-post-bxslider .bx-custom-pager span { 
		display:inline; 
	}
}

/*-------------------------------------------------------*/
/* .post-panel
/*-------------------------------------------------------*/
.miso-post-bxslider .post-panel .img-cell { 
	padding:20px; color:#fff; vertical-align:bottom;
}
.miso-post-bxslider.is-circle .post-panel .img-cell { 
	vertical-align:middle; text-align:center
}
.miso-post-bxslider .post-panel .img-cate { 
	position:absolute; color:#fff; z-index:2; width:100%; padding:20px; line-height:1;
}
.miso-post-bxslider .post-panel .img-cate h4 { 
	font-size:15px; padding:0; margin:0; line-height:1;
}
.miso-post-bxslider.is-circle .post-panel .img-cate { 
	display:none;
}
.miso-post-bxslider .post-panel h3 { 
	color:#fff; font-size:18px; padding:0; margin:0; line-height:1.5;
}
.miso-post-bxslider .post-panel p { 
	color:#fff; padding:0; margin:15px 0 0;
}

/*-------------------------------------------------------*/
/* .post-panel-icon
/*-------------------------------------------------------*/
.miso-post-bxslider .post-panel-icon .item-box { 
	background-color:#fff;
}
.miso-post-bxslider .post-panel-icon .item-content { 
	padding:30px; text-align:center;
}
.miso-post-bxslider .post-panel-icon .img-icon {
	text-align:center; font-size: 60px; height:60px; line-height: 60px; margin: 0 0 20px; 
}
.miso-post-bxslider .post-panel-icon .img-icon img {
	display:block; width:60px; height:60px; border-radius:50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; margin:0 auto;
}
.miso-post-bxslider .post-panel-icon .item-content h3 { 
	color:#000; font-size:20px; padding:0; margin:0; line-height:1.4;
}
.miso-post-bxslider .post-panel-icon .item-content:hover h3 {
	color:#fff;
}
.miso-post-bxslider .post-panel-icon .item-content hr {
    display:inline-block; width: 45px; height: 3px; margin:12px 0 8px; border: none; line-height: 1px;
}
.miso-post-bxslider .post-panel-icon .item-content:hover hr {
	background-color:#fff;
}
.miso-post-bxslider .post-panel-icon .item-content p { 
	font-size:14px; padding:0; margin:0; line-height:1.6;
}

/*-------------------------------------------------------*/
/* .post-list
/*-------------------------------------------------------*/
.miso-post-bxslider .post-list.post-margin,
.miso-post-bxslider .post-list.post-margin .item-box {
	margin-bottom:0 !important;
}
.miso-post-bxslider .post-list .pull-right { 
	color:#888;
}
.miso-post-bxslider .post-list .img-tbl { 
	color:#888;
}
.miso-post-bxslider .post-list .img-tbl p { 
	padding:0; margin:0; 
}
.miso-post-bxslider .post-list .img-photo {
	width:54px; vertical-align:top;
}

/*-------------------------------------------------------*/
/* .post-webzine
/*-------------------------------------------------------*/
.miso-post-bxslider .post-webzine .img-bg { 
	width:120px;
}
.miso-post-bxslider .post-webzine .img-content {
	padding-left:12px;
}
.miso-post-bxslider .post-webzine .img-content p {
	padding:0; margin:4px 0; color:#888;
}

/*-------------------------------------------------------*/
/* .post-talkbox
/*-------------------------------------------------------*/
.miso-post-bxslider .post-talkbox .img-content {
	color:#333; padding:5px;
}
.miso-post-bxslider .post-talkbox .img-content p {
	padding:0; margin:4px 0 0;
}
.miso-post-bxslider .post-talkbox .talk-bubble {
	padding:10px;
}
.miso-post-bxslider .post-talkbox .talker-one {
	line-height:50px;
}
.miso-post-bxslider .post-talkbox .talker-one b {
	color:#000;
}
.miso-post-bxslider .post-talkbox .talker-one .talker-photo {
	margin-right:12px;
}
