@charset "UTF-8";

@import "sm";
@import "hy";


$color1: #8ec700; // 문해교육
// $color1: #005ea8; // 진흥원

$title_color: #222;
$title_size: 16px;
$ct_color: #666;
$ct_size: 14px;
$name_color: #8ec700;
$name_size: 14px;