@charset "utf-8";

@import url("default.css");

/********************************************************
■ Myss Custom
********************************************************/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("myss.css");

h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans KR:300,500', sans-serif !important;}

.ko, .ko small {font-family: 'Noto Sans KR:300,500', sans-serif;}
.at-body {background:#fff;}

/* .at-body.nx_main_bg {background:#fff;}*/
.at-main.nx_page_content {width: calc(100% - 280px); padding: 30px 0 0;}
.nx_page_content {font-size: 11pt;}
.at-side.nx_page_side {z-index: 20; width: 220px; margin-top: -70px; padding: 0;}
.row {margin:0;}
.div-title-underbar {padding-bottom:12px; border-bottom: 1px solid #e5e5e5;}
.div-title {line-height:1.2;}
.list-category {margin-bottom:20px;}
@media all and (max-width:991px) {
  .responsive .at-main.nx_page_content {width: 100%; }
  .responsive .at-side.nx_page_side {display: none}
}

/* 페이지 타이틀 */
.nx_path_wrap {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.nx_path_wrap .nx_pathindicator {
  float: left;
  font-size: 14px;
  color: #666;
}
.nx_path_wrap .nx_sch_wrap {
  float: right;
  margin-bottom: 0;
}
.nx_page_tit {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}


/* 메인 위젯 */
.nx_widget_box {margin-bottom:30px;padding: 35px 35px 30px; background: #fff;box-sizing: border-box;box-shadow:0px 4px 8px 0px rgba(0,0,0,0.15)}
.nx_widget_box .widget-box {margin-bottom:0;}
.nx_widget_box .div-title-underbar {position: relative; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #6d9df4;}
.nx_widget_box .div-title-underbar:before {content: ""; position: absolute; bottom: 0; left: 0; width: 70px; height: 3px; background:#6d9df4;}
.nx_widget_box .div-title {padding-bottom: 0; color: #222;}
.nx_widget_box .div-title b {font-weight:500;}
.nx_widget_box .nx_btn2 {display:inline-block;position:relative;width: 22px;min-width:0;height: 22px;padding:0;border: 1px solid #d2d2d2;background:#fff;font-size:0;border-radius:0;box-sizing:border-box;}
.nx_widget_box .nx_btn2:before {content:"";display:block;position: absolute;top:9px;left:5px;width:10px;height:2px;background:#4b4b4d;}
.nx_widget_box .nx_btn2:after {content:"";display:block;position: absolute;top:5px;left:9px;width:2px;height:10px;background:#4b4b4d;}
.nx_widget_box .nx_btn2:hover:before {background: #0062bb;}
.nx_widget_box .nx_btn2:hover:after {background: #0062bb;}

@media screen and (max-width: 991px) {
  .nx_widget_box {margin-bottom:20px; padding: 20px 12px; border:1px solid #dedede; box-shadow:none;}
}


/* 메인 비주얼 */
.nx-carousel {overflow: hidden;}
.nx-in-title-wrap1 {position: absolute; top: 0; left: 0; right: 0; width: 100%; max-width: 1200px; height: 100%; margin: 0 auto;}
.nx-in-title-wrap2 {display: table; width: 100%; height: 60%;}
.nx-in-title-wrap3 {display: table-cell; padding-top: 5%; text-align: left; vertical-align: middle;}
.nx-in-title {display: inline-block; padding: 10px 15px; line-height: 130%; font-weight: 500; color: #fff;}

.nx-carousel.carousel.div-carousel .carousel-indicators {
  bottom: 40%;
}

@media screen and (max-width: 991px) {
  .nx-carousel.carousel.div-carousel .carousel-indicators {
    bottom: 10px;
  }
  .nx-in-title-wrap2 {height: 100%;}
  .nx-in-title-wrap3 {padding-top: 0;}
  .nx-in-title {font-size: 0.75em;}
}

@media screen and (max-width: 767px) {
  .nx-in-title {font-size: 0.6em;}
}

.font-28 {font-size: 28px;}
.font-32 {font-size: 32px;}


/* 표 스타일 div */

.div-head > span {font-size: 14px;}

@media screen and (min-width: 768px) {
  /*.row .nx_widget_box.res_sm {width:calc(50% - 8px);}
  .row .nx_widget_box.res_sm:nth-child(2) {margin-left:16px;}*/
}

@media screen and (min-width:768px) and (max-width: 992px) {
  .row .nx_widget_box.res_sm_md {width:calc(50% - 8px);}
  .row .nx_widget_box.res_sm_md:nth-child(2) {margin-left:16px;}
}