@charset "utf-8";

@import "../scss/config";

.nx-post-notice .nx_post_ct { margin: 5px 0 0; color: $ct_color; font-size: $ct_size; }

.nx-post-notice .nx_post_date {font-size: $date_size; color: $date_color; }

.nx-post-notice .post-list { list-style: none; padding: 0px; margin: -2px 0px; line-height: 150%; }
.nx-post-notice .post-list li { padding: 15px 0; margin: 0px; border-top: 1px solid #e5e5e5; }
.nx-post-notice .post-list li:first-child { padding-top: 0; border-top: none; }
.nx-post-notice .post-list li:last-child { padding-bottom: 0; }
.nx-post-notice .post-list li b { letter-spacing: -1px; padding-right: 1px; }
.nx-post-notice .post-list li .name { letter-spacing: -1px; color: #888; padding-left: 4px; padding-right: 1px; }
.nx-post-notice .post-list .txt-normal { letter-spacing: 0; }
.nx-post-notice .post-none { padding: 50px 10px; text-align: center; color: #888; }
.nx-post-notice .wr-text { font-family: dotum; font-size: 11px; letter-spacing: -1px; line-height: 11px; font-weight: normal; }
.nx-post-notice .wr-icon { display: inline-block; padding: 0px; margin: 0px; line-height: 12px; vertical-align: middle; background-repeat: no-repeat; background-position: 0px 0px; }
.nx-post-notice .wr-new { width: 12px; height: 12px; background-image: url("./img/icon_new.gif"); }
.nx-post-notice .wr-secret { width: 12px; height: 12px; background-image: url("./img/icon_secret.gif"); }
.nx-post-notice .wr-video { width: 12px; height: 12px; background-image: url("./img/icon_video.gif"); }
.nx-post-notice .wr-image { width: 12px; height: 12px; background-image: url("./img/icon_image.gif"); }
.nx-post-notice .wr-file { width: 12px; height: 12px; background-image: url("./img/icon_file.gif"); }
.nx-post-notice .nx_post_title {font-size: $title_size; color: $title_color;}

.nx-post-notice .post-list a:hover {
	.nx_post_title {
		color: $title_color_hover;
	}
}