@charset "utf-8";

@import "../scss/config";

.nx-post-mix { margin: 0px; overflow: hidden; }
.nx-post-mix .txt-normal { letter-spacing: 0; }
.nx-post-mix .txt-short { letter-spacing: -1px; padding-right: 1px; }
.nx-post-mix .wr-text { font-family: dotum; font-size: 11px; letter-spacing: -1px; line-height: 11px; font-weight: normal; }
.nx-post-mix .wr-icon { display: inline-block; padding: 0px; margin: 0px; line-height: 12px; vertical-align: middle; background-repeat: no-repeat; background-position: 0px 0px; }
.nx-post-mix .wr-new { width: 12px; height: 12px; background-image: url("./img/icon_new.gif"); }
.nx-post-mix .wr-secret { width: 12px; height: 12px; background-image: url("./img/icon_secret.gif"); }
.nx-post-mix .wr-video { width: 12px; height: 12px; background-image: url("./img/icon_video.gif"); }
.nx-post-mix .wr-image { width: 12px; height: 12px; background-image: url("./img/icon_image.gif"); }
.nx-post-mix .wr-file { width: 12px; height: 12px; background-image: url("./img/icon_file.gif"); }
.nx-post-mix .post-vicon { position: absolute; left: 6px; top: 6px; color: #fff; font-size: 20px; z-index: 1; text-shadow: 1px 1px 1px #000; }
.nx-post-mix .post-wrap { overflow: hidden; line-height: 20px; margin-bottom: 5px; }
.nx-post-mix .media { margin: 0px 0px 10px; }
.nx-post-mix .post-image { position: relative; overflow: hidden; }
.nx-post-mix .post-image .img-item { border-radius: 6px; }
.nx-post-mix .post-content { margin: 0px 0px -2px; overflow: hidden; }
.nx-post-mix .post-subject { overflow: hidden; letter-spacing: -1px; padding-right: 1px; }
.nx-post-mix .post-text { font-size: 14px; margin-top: 4px; }
.nx-post-mix .post-sp { color: #ccc; margin: 0px 4px; }
.nx-post-mix .post-list { list-style: none; padding: 0px; margin: -2px 0px; line-height: 22px; }
.nx-post-mix .post-list li { padding: 0px; margin: 0px; }
.nx-post-mix .post-list li b { letter-spacing: -1px; padding-right: 1px; }
.nx-post-mix .post-none { padding: 50px 10px; text-align: center; color: #888; }

.is-pc .ko .nx-post-mix .post-ko { font-size: 11px; }
